nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid navy;
    border-radius: 10px;
    background-color: navy;
}

.popular {
    background-color: white;
    color: royalblue;
}

header {
    background-color: green;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid navy;
    border-radius: 10px;
    background-color: navy;
}

footer {
    background-color: HotPink;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
}
